* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "roboto", sans-serif;
}
/* hero styles begin here */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 200px;
  background-color: #1f2937;
}

.hero p {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.hero ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.hero a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 16px;
}

.hero-bottom img {
  width: 500px;
  height: 250px;
}

.hero-bottom {
  display: flex;
  padding: 100px 200px;
  background-color: #1f2937;
  gap: 50px;
}

.bottom-left-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottom-left-container .para-1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.bottom-left-container .para-2 {
  font-size: 18px;
  color:#e5e7eb;
  width: 400px;
}

button {
  color: white;
  background-color: #3882f6;
  width: 100px;
  padding: 8px;
  border-radius: 8px;
  border: none;
}
/* hero styles end here */
/* ------------------------------ */
/* middle styles begin here */

.upper-middle-content {
  display: flex;
  flex-direction: column;
}

.middle-heading {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  padding-top: 40px;
  padding-bottom: 40px;
}

.middle-content {
  display: flex;
  justify-content: center;
  gap: 50px
}

.image-box {
  width: 200px;
  height: 200px;
  border: 6px solid #3882f6;
  border-radius: 20px;
}

 .image-box img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.image-box p {
  text-align: center;
  font-size: 18px;
  color:#1f2937;
  padding: 20px 0;
}

